<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Yalnızca çekim anında, tek seferlik konum. Arka planda takip yok. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- `camera` eklentisi video desteği için mikrofon izni beyan ediyor ve bu
         izin birleşmiş manifeste sızıyor. Uygulama ses kaydetmiyor
         (`CameraController` `enableAudio: false` ile açılıyor), oysa izin Play
         sayfasında "Mikrofon" olarak görünüp mahremiyet iddiasını zedeliyor.
         Tehlikeli izin sınıfında olduğu için etkisi INTERNET'ten çok daha
         büyük. Birleştirmeden çıkarılıyor. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>

    <!-- API 29'dan beri işe yaramıyor; uygulama zaten paylaşılan depolamaya
         hiç yazmıyor, kareler kendi kapsayıcısında duruyor. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <!-- En az bir kamera gerekir; yalnızca arka kamerası olmayan cihazları
         gereksiz yere dışlamamak için yön bağımsız özellik kullanılır. -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- Google Play üzerinden tek seferlik Pro satın alımı. BillingClient da
         bu izni ekler; burada ürün gereksinimi olarak açıkça tutulur. -->
    <uses-permission android:name="com.android.vending.BILLING"/>

    <!-- Android 13+ bildirim izni; hatırlatıcı açıldığında istenir. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Cihaz yeniden başlatıldığında planlanmış hatırlatmalar korunsun. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:label="Latermark"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Galeri/Fotoğraflar: Paylaş > Latermark -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <!-- flutter_local_notifications v16+ planlanmış bildirim alıcılarını
             uygulama manifestinde açıkça ister. -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!-- Ana ekran widget'ı: en son kaydı gösterir. -->
        <receiver
            android:name=".NotWidgetProvider"
            android:label="@string/widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/not_widget_info" />
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Gizlilik ve koşullar bağlantılarını tarayıcıda açmak için.
             Android 11'den itibaren bu bildirim olmadan url_launcher hedefi
             göremiyor ve bağlantı sessizce açılmıyor. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
